 placeholder {
    display: inline;
    border: 1px solid #ccc;
    color: #ccc;
  }
 ::v-deep placeholder:after {
    content: "â˜";
    font-size: 200%;
    line-height: 0.1;
    font-weight: bold;
  }
 ::v-deep .ProseMirror img { max-width: 100px }
  /* this is a rough fix for the first cursor position when the first paragraph is empty */
 ::v-deep .ProseMirror > .ProseMirror-yjs-cursor:first-child {
    margin-top: 16px;
  }
 ::v-deep .ProseMirror p:first-child, .ProseMirror h1:first-child, .ProseMirror h2:first-child, .ProseMirror h3:first-child, .ProseMirror h4:first-child, .ProseMirror h5:first-child, .ProseMirror h6:first-child {
    margin-top: 16px
  }
 ::v-deep .ProseMirror-yjs-cursor {
    position: absolute;
    border-left: black;
    border-left-style: solid;
    border-left-width: 2px;
    border-color: orange;
    height: 1em;
    word-break: normal;
    pointer-events: none;
  }
 ::v-deep .ProseMirror-yjs-cursor > div {
    position: relative;
    top: -1.05em;
    font-size: 13px;
    background-color: rgb(250, 129, 0);
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    user-select: none;
    color: white;
    padding-left: 2px;
    padding-right: 2px;
  }
 ::v-deep #y-functions {
    position: absolute;
    top: 20px;
    right: 20px;
  }
 ::v-deep #y-functions > * {
    display: inline-block;
  }
